@import '../../styles/variables.scss';

.nav-bar {
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  font-size: 24px;
  font-size: 1.5rem;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  z-index: 1;

  &.is-open {
    transform: translateX(0%);

    #headers,
    .social-icons {
      transform: translateX(0%);
    }

    #burger {
      padding: 0;
      transform: translateX(0rem);
    }
  }

  #headers {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);

    hr {
      display: block;
      width: 100%;
    }

    a {
      margin-bottom: $spacing-medium;
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s linear;
    }
  }

  #burger {
    display: initial;
    font-size: 1.5rem;
    width: 4rem;
    height: 3rem;
    text-align: right;
    padding: $spacing-small;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: translateX(5rem);
  }

  .social-icons {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
}

@media (min-width: #{$fit-two-col}) {
  .nav-bar {
    font-size: initial;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-medium;
    transform: none;

    #headers {
      transform: none;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        padding: 0;
        cursor: pointer;
        text-decoration: none;
        font-weight: normal;
        margin-bottom: 0;
        margin-right: $spacing-medium;
      }
      hr {
        display: none;
      }
    }

    #burger {
      display: none;
    }

    .social-icons {
      transform: none;
      margin-top: 0;
      width: min-content;
      align-items: center;
    }
  }
}
