@import '../../styles/variables.scss';

.social-icons {
  display: flex;
  justify-content: center;
  gap: $spacing-small;

  div {
    min-width: 2rem;
    min-height: 2rem;
  }

  .toggle {
    display: none;
  }

  &.show-toggle {
    display: grid;
    column-gap: $spacing-small;
    grid-template-columns: repeat(4, 1fr);
    .toggle {
      display: block;

      .toggler {
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          width: 4rem;
          height: 2rem;
          display: flex;
          border-radius: 50px;
          align-items: center;
          justify-content: space-between;
          padding: 0.25rem;
          position: relative;

          .ball {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            position: absolute;
            left: 0.25rem;
            border-radius: 50%;
            transition: transform 0.5s linear;
            transform: translateX(0rem);
            cursor: pointer;
          }

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        input {
          opacity: 0;
          position: absolute;

          &:checked + label .ball {
            transform: translateX(2rem);
          }
        }
      }
    }
  }
}
